{% load static %}

<div id="cart-items-container">
    {% for cart in carts %}
        <div>
            <h5 class="font-size-1">{{ cart.product.name }}</h5>
        </div>
        <ul>
            <li>
                <div class="text-center">
                    <div class="cart-item">
                        <form method="post" action="{% url 'carts:cart_change' cart.id %}">
                            {% csrf_token %}
                            <span>
                                <button type="submit" name="action" value="decrease" class="button-reg">-</button>
                            </span>
                            <input type="text" class="search-box" value="{{ cart.quantity }}" readonly>
                            <span>
                                <button type="submit" name="action" value="increase" class="button-reg">+</button>
                            </span>
                            <p>x {{ cart.product.sell_price }} = </p>
                            <p><strong>{{ cart.products_price }} руб.</strong></p>
                            <a href="{% url 'carts:cart_remove' cart.id %}" class="remove-from-cart">
                                <img src="{% static 'deps/icons/trash3-fill.svg' %}" alt="Catalog Icon" width="25" height="25">
                            </a>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>

<div class="total-summary">
    <p>Итого <strong>{{ carts.total_quantity }}</strong> товар(а) на сумму</p>
    <h3><strong>{{ carts.total_price }} руб.</strong></h3>
</div>
