{% load static %}

{% if form.non_field_errors %}
<div class="container" id="alertContainer">
    <div class="row justify-content-center">
        <div>
            <div class="text-red" role="alert" id="alertBox">
                {{ form.non_field_errors }}
                <button type="button" class="button-fil right" aria-label="Close" onclick="closeAlert()">x</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if messages %}
<!-- Для оповещений -->
<div class="container" id="alertContainer">
    <div class="row justify-content-center">
        <div>
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="notification text-green" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                {% if message.tags == 'warning' %}
                <div class="notification text-red" role="alert">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    setTimeout(() => {
        const alertContainer = document.getElementById('alertContainer');
        if (alertContainer) {
            alertContainer.style.display = 'none';
        }
    }, 5000); 
</script>
{% endif %}


<script>
    function closeAlert() {
        const alertContainer = document.getElementById('alertContainer');
        if (alertContainer) {
            alertContainer.style.display = 'none';
        }
    }
</script>
