{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div>
    <!-- Форма фильтров -->
    <div>
        <button id="filterButton" class="button-fil" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Фильтры
        </button>
        <form action="" method="get" class="dropdown-content-filter" data-bs-theme="dark">
          <div>
            <input type="checkbox" name="on_sale" id="flexCheckDefault" value="on">
            <input type="hidden" name="q" value="request.GET.q">
            <label for="flexCheckDefault">
              Товары по акции
            </label>
          </div>
          <p>Сортировать:</p>
          <div>
            <input type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
            <label for="flexRadioDefault1">
              По умолчанию
            </label>
          </div>
          <div>
            <input type="radio" name="order_by" id="flexRadioDefault2" value="price">
            <label for="flexRadioDefault2">
              От дешевых к дорогим
            </label>
          </div>
          <div>
            <input type="radio" name="order_by" id="flexRadioDefault3" value="-price">
            <label for="flexRadioDefault3">
              От дорогих к дешевым
            </label>
          </div>
          <button type="submit" class="button-reg">Применить</button>
        </form>
      </div>
      <p></p>

    <div class="row-goods">
    {% for product in goods|slice:":4" %}
    <div class="container-goods">
        <div class="goods-content">
            <div>
                <img src="{{ product.image.url }}" class="image-container-goods" alt="{{ product.name }}">
                <div>
                    <a href="{% url "catalog:product" product.slug %}">
                        <p class="font-links">{{ product.name }}</p>
                    </a>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <p>id: {{ product.display_id }}</p>
                    <div>
                        {% if product.discount %}
                        <p><s>{{ product.price }} руб.</s> </p>
                        <p><strong>{{ product.sell_price }} руб.</strong></p>
                        <span class="text-red">Скидка {{ product.discount }} %</span> 
                        {% else %}
                        <p><strong>{{ product.price }} руб.</strong></p>
                        {% endif %}
                        <a href="#">
                            <img src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                width="25" height="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row-goods">
    {% for product in goods|slice:"4:8" %}
    <div class="container-goods">
        <div class="goods-content">
            <div>
                <img src="{{ product.image.url }}" class="image-container-goods" alt="{{ product.name }}">
                <div>
                    <a href="{% url "catalog:product" product.slug %}">
                        <p class="font-links">{{ product.name }}</p>
                    </a>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <p>id: {{ product.display_id }}</p>
                    <div>
                        {% if product.discount %}
                        <p><s>{{ product.price }} руб.</s> </p>
                        <p><strong>{{ product.sell_price }} руб.</strong></p>
                        <span class="text-red">Скидка {{ product.discount }} %</span> 
                        {% else %}
                        <p><strong>{{ product.price }} руб.</strong></p>
                        {% endif %}
                        <a href="#">
                            <img src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                width="25" height="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row-goods">
    {% for product in goods|slice:"8:12" %}
    <div class="container-goods">
        <div class="goods-content">
            <div>
                <img src="{{ product.image.url }}" class="image-container-goods" alt="{{ product.name }}">
                <div>
                    <a href="{% url "catalog:product" product.slug %}">
                        <p class="font-links">{{ product.name }}</p>
                    </a>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <p>id: {{ product.display_id }}</p>
                    <div>
                        {% if product.discount %}
                        <p><s>{{ product.price }} руб.</s> </p>
                        <p><strong>{{ product.sell_price }} руб.</strong></p>
                        <span class="text-red">Скидка {{ product.discount }} %</span> 
                        {% else %}
                        <p><strong>{{ product.price }} руб.</strong></p>
                        {% endif %}
                        <a href="#">
                            <img src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                width="25" height="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row-goods">
    {% for product in goods|slice:"12:16" %}
    <div class="container-goods">
        <div class="goods-content">
            <div>
                <img src="{{ product.image.url }}" class="image-container-goods" alt="{{ product.name }}">
                <div>
                    <a href="{% url "catalog:product" product.slug %}">
                        <p class="font-links">{{ product.name }}</p>
                    </a>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <p>id: {{ product.display_id }}</p>
                    <div>
                        {% if product.discount %}
                        <p><s>{{ product.price }} руб.</s> </p>
                        <p><strong>{{ product.sell_price }} руб.</strong></p>
                        <span class="text-red">Скидка {{ product.discount }} %</span> 
                        {% else %}
                        <p><strong>{{ product.price }} руб.</strong></p>
                        {% endif %}
                        <a href="#">
                            <img src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                width="25" height="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row-goods">
    {% for product in goods|slice:"16:20" %}
    <div class="container-goods">
        <div class="goods-content">
            <div>
                <img src="{{ product.image.url }}" class="image-container-goods" alt="{{ product.name }}">
                <div>
                    <a href="{% url "catalog:product" product.slug %}">
                        <p class="font-links">{{ product.name }}</p>
                    </a>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <p>id: {{ product.display_id }}</p>
                    <div>
                        {% if product.discount %}
                        <p><s>{{ product.price }} руб.</s> </p>
                        <p><strong>{{ product.sell_price }} руб.</strong></p>
                        <span class="text-red">Скидка {{ product.discount }} %</span> 
                        {% else %}
                        <p><strong>{{ product.price }} руб.</strong></p>
                        {% endif %}
                        <a href="#">
                            <img src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                width="25" height="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row-goods">
    {% for product in goods|slice:"20:24" %}
    <div class="container-goods">
        <div class="goods-content">
            <div>
                <img src="{{ product.image.url }}" class="image-container-goods" alt="{{ product.name }}">
                <div>
                    <a href="{% url "catalog:product" product.slug %}">
                        <p class="font-links">{{ product.name }}</p>
                    </a>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <p>id: {{ product.display_id }}</p>
                    <div>
                        {% if product.discount %}
                        <p><s>{{ product.price }} руб.</s> </p>
                        <p><strong>{{ product.sell_price }} руб.</strong></p>
                        <span class="text-red">Скидка {{ product.discount }} %</span> 
                        {% else %}
                        <p><strong>{{ product.price }} руб.</strong></p>
                        {% endif %}
                        <a href="#">
                            <img src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                width="25" height="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row-goods">
    {% for product in goods|slice:"24:28" %}
    <div class="container-goods">
        <div class="goods-content">
            <div>
                <img src="{{ product.image.url }}" class="image-container-goods" alt="{{ product.name }}">
                <div>
                    <a href="{% url "catalog:product" product.slug %}">
                        <p class="font-links">{{ product.name }}</p>
                    </a>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <p>id: {{ product.display_id }}</p>
                    <div>
                        {% if product.discount %}
                        <p><s>{{ product.price }} руб.</s> </p>
                        <p><strong>{{ product.sell_price }} руб.</strong></p>
                        <span class="text-red">Скидка {{ product.discount }} %</span> 
                        {% else %}
                        <p><strong>{{ product.price }} руб.</strong></p>
                        {% endif %}
                        <a href="#">
                            <img src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                width="25" height="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Пагинация -->
<nav aria-label="Page navigation example">
    <div class="container-pagi"> 
        <ul style="display: flex; grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); gap: 10px;" class="font-links"> 
            <li>
                <a class="font-links">Предыдущая</a>
            </li>
            <li class="font-links"><a class="font-links" href="#">1</a></li>
            <li class="font-links"><a class="font-links" href="#">2</a></li>
            <li class="font-links"><a class="font-links" href="#">3</a></li>
            <li class="font-links">
                <a class="font-links" href="#">Следующая</a>
            </li>
        </ul>
    </div>
</nav>
</div>
</div>
</div>
</section>

{% endblock content %}

