{% extends "main/base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %}
<div>
    <!-- Форма фильтров -->
    <div>
        <button id="filterButton" class="button-fil" type="button">
          Фильтры
        </button>
        <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get" class="dropdown-content-filter">
          <div>
            <input type="checkbox" name="on_sale" id="flexCheckDefault" value="on"
            {% if request.GET.on_sale == 'on' %} checked {% endif %}>
            {% if request.GET.q %}
            <input type="hidden" name="q" value="{{ request.GET.q }}"> 
            {% endif %}
            <label for="flexCheckDefault">
              Товары по акции
            </label>
          </div>
          <p>Сортировать:</p>
          <div>
            <input type="radio" name="order_by" id="flexRadioDefault1" value="default" 
            {% if not request.GET.order_by or request.GET.order_by == 'default' %} checked {% endif %}>
            <label for="flexRadioDefault1">
              По умолчанию
            </label>
          </div>
          <div>
            <input type="radio" name="order_by" id="flexRadioDefault2" value="price"
            {% if request.GET.order_by == 'price' %} checked {% endif %}>
            <label for="flexRadioDefault2">
              От дешевых к дорогим
            </label>
          </div>
          <div>
            <input type="radio" name="order_by" id="flexRadioDefault3" value="-price"
            {% if request.GET.order_by == '-price' %} checked {% endif %}>
            <label for="flexRadioDefault3">
              От дорогих к дешевым
            </label>
          </div>
          <button type="submit" class="button-reg">Применить</button>
        </form>
      </div>
      <p></p>


    {% if request.GET.q %}
    <h2 class="row-goods justify-content-center">Результаты поиска по запросу {{ request.GET.q }}</h2>
    {% if not goods %}
    <h3 class="row-goods justify-content-center">По запросу ничего не найдено</h3>
    {% endif %}
    {% endif %}  
    <div class="row-goods">
    {% for product in goods %}
    <div class="container-goods">
        <div class="goods-content">
            <div>
                <img src="{{ product.image.url }}" class="image-container-goods" alt="{{ product.name }}">
                <div>
                    <a href="{% url "catalog:product" product.slug %}">
                        <p class="font-links">
                          {% autoescape off %}
                          {% if product.headline %}{{product.headline}}{% else %}{{ product.name }}{% endif %}
                          {% endautoescape %}
                        </p>
                    </a>
                    <p>
                      {% autoescape off %}
                          {% if product.bodyline %}{{product.bodyline|truncatechars:170}}{% else %}{{ product.description|truncatechars:50 }}{% endif %}
                          {% endautoescape %}
                      
                    </p>
                    <p>id: {{ product.display_id }}</p>
                    <div>
                        {% if product.discount %}
                        <p><s>{{ product.price }} руб.</s> </p>
                        <p><strong>{{ product.sell_price }} руб.</strong></p>
                        <span class="text-red">Скидка {{ product.discount }} %</span> 
                        {% else %}
                        <p><strong>{{ product.price }} руб.</strong></p>
                        {% endif %}
                        <a href="#">
                            <img src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                width="25" height="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation">
    <div class="container-pagi"> 
        <ul style="display: flex; grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); gap: 10px;" class="font-links"> 
            <li class="{% if not goods.has_previous %} disabled {% endif %} ">
                <a class="font-links" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}{% else %}
                {% endif %}">Предыдущая</a>
            </li>
            
            {% for page in goods.paginator.page_range %}
            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
              <li class="font-links {% if goods_number == page %} text-red {% endif %}">
                <a class="font-links" href="?{% change_params page=page %}">{{ page }}</a>
              </li>
            {% endif %}
            {% endfor %}

            <li class="{% if not goods.has_next %} disabled {% endif %} ">
              <a class="font-links" href="{% if goods.has_next %}?{% change_params page=goods.next_page_number %}{% else %}
              {% endif %}">Следующая</a>
          </li>
        </ul>
    </div>
</nav>
</div>
</div>
</div>
</section>

{% endblock content %}

