{% extends "base.html" %}
{% load static %}


{% block content %}
{% include "includes/notifications.html" %}
<div class="container">
    <img src="{{ product.image.url }}" class="image-left" alt="img">
    <div class="justify-content-center">
        <h1>{{ product.name }}</h1>
        <h3>{{ product.description }}</h3>
        <p>Ингредиенты: {{ product.ingridients }}</p>
        <p>id: {{ product.display_id }}</p>
        <div>
            {% if product.discount %}
            <p><s>{{ product.price }} руб.</s> </p>
            <p><strong>{{ product.sell_price }} руб.</strong></p>
            <span class="text-red">Скидка {{ product.discount }} %</span> 
            {% else %}
            <p><strong>{{ product.price }} руб.</strong></p>
            {% endif %}
        </div>
        <p></p>
        <a href="{% url "carts:cart_add" product.slug %}" class="button-reg">Добавить в корзину</a>
    </div>
</div>
{% endblock content %}
