{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <img src="deps/images/goods/california.jpg" class="image-left" alt="img">
    <div class="justify-content-center">
        <p>Цена: <strong>400.00 руб.</strong></p>
        <h1>Роллы «Калифорния»</h1>
        <p>Классические роллы с крабовыми палочками, авокадо и огурцом, завернутые в рис и нори, подаются с кунжутом.</p>
        <a href="#" class="button-reg">Добавить в корзину</a>
    </div>
</div>
{% endblock content %}
