{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <div class="container">
      <div>
        <!-- Профиль с данными пользователя -->
        <div>
          <div>
            <h2 class="text-center">Профиль пользователя</h2>
            <form action="{% url "user:profile" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div class="avatar-container">
                        {% if user.image %}
                        <img src="{{ user.image.url }}" alt="Аватар пользователя" style="max-width: 150px;">
                        {% else %}
                        <img src="{% static "deps/images/baseavatar.png" %}" alt="Аватар пользователя" style="max-width: 150px;">
                        {% endif %}
                        
                        <label for="id_image" class="button-reg">Загрузить изображение</label>
                        <input type="file" id="id_image" accept="image/*" name='image' class="hidden-input">
                        {% if form.image.errors %}
                            <div class="text-red">{{ form.image.errors }}</div>
                        {% endif %}
                    </div>
            
                    <p></p>
                    <button type="submit" class="button-reg">Сохранить</button>
                </div>
                <p></p>
                <div class="row">
                  <div>
                    <label for="id_first_name">Имя</label>
                    <input type="text" class="search-box" id="id_first_name"
                        name='first_name'   
                        placeholder="Введите ваше имя" value="{{ form.first_name.value }}" required>
                        {% if form.first_name.errors %}
                        <div class="text-red">{{form.first_name.errors}}</div>
                        {% endif %}
                  </div>
                  <div>
                    <label for="id_last_name">Фамилия</label>
                    <input type="text" class="search-box" id="id_last_name"
                        name='last_name'   
                        placeholder="Введите вашу фамилию" value="{{ form.last_name.value }}" required>
                        {% if form.last_name.errors %}
                        <div class="text-red">{{form.last_name.errors}}</div>
                        {% endif %}
                  </div>
                </div>
                <p></p>
                <div class="row">
                  <div>
                    <label for="id_username">Имя пользователя</label>
                    <input type="text" class="search-box" id="id_username"
                        name='username'   
                        placeholder="Введите ваше имя пользователя" value="{{ form.username.value }}" required>
                        {% if form.username.errors %}
                        <div class="text-red">{{form.username.errors}}</div>
                        {% endif %}
                  </div>
                  <div>
                    <label for="id_email">Email</label>
                    <input type="email" class="search-box" id="id_email"
                        name='email'   
                        placeholder="Введите ваш email" value="{{ form.email.value }}" required>
                        {% if form.email.errors %}
                        <div class="text-red">{{form.email.errors}}</div>
                        {% endif %}
                  </div>
                </div>
  
  
                <p></p>
  
              </div>
              <button type="submit" class="button-reg">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
 <p></p>
 <div class="container">
    <div class="justify-content-center">
        <h2 class="text-align-center text font-size-2">Мои заказы</h2>
        <!-- Оформленные заказы -->
        <div class="container-cart" style="background-color: black;"> 
            <div class="container-cart-inside">
                <!-- Разметка заказов -->
                <div class="row-goods">
                    <div id="accordionExample">
                        {% for order in orders %}
                        <div class="accordion-item" style="margin-bottom: 10px;">
                            <h2 class="accordion-header" id="heading{{ order.id }}">
                                <button class="button-order" {% if order != orders.0 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse{{ order.id }}">
                                    Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong>{{ order.get_status_display }}</strong>
                                </button>
                            </h2>
                            <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="padding: 10px; background-color: #1a1a1a;"> 
                                    <table style="width: 100%; background-color: #1a1a1a; border-collapse: separate; border-spacing: 10px;" class="table"> <!-- border-spacing для расстояния между ячейками -->
                                        <thead>
                                            <tr>
                                                <th class="text font-links-nound">Товар</th>
                                                <th class="text font-links-nound">Количество</th>
                                                <th class="text font-links-nound">Цена</th>
                                                <th class="text font-links-nound">Общая стоимость</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in order.orderitem_set.all %}
                                            <tr style="height: 50px;">
                                                <td style="padding: 10px; width: 50px;"> 
                                                    <a class="text font-links" href="{% url 'goods:product' item.product.slug %}">{{ item.product.name }}</a>
                                                </td>
                                                <td class="text" style="padding: 10px;">{{ item.quantity }}</td>
                                                <td class="text" style="padding: 10px;">{{ item.price }}</td>
                                                <td class="text" style="padding: 10px;">{{ item.products_price }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Закончилась разметка заказов -->
    </div>
</div>



    </div>
</div>

{% endblock content %}

