{% extends "base.html" %}
{% load static %}

    {% block content %}
    <div class="container">
        <img src="{% static "deps/images/aboutus.png" %}" class="image-left" alt="img">
        <div class="text-align-left">
            <div class="text-align-center">
                <h2>О нас</h2>
            </div>
            <p>Yare Yare Daze - это сервис доставки японской еды, который предлагает широкий выбор блюд, приготовленных из свежих и качественных ингредиентов. Мы гордимся тем, что предлагаем нашим клиентам только самые вкусные и аутентичные блюда японской кухни. У нас широкий выбор блюд, включая суши, сашими, рамен, удон, темпура и многое другое. В наличии имеются вегетарианские и веганские варианты для тех, кто предпочитает растительную пищу. Не упустите возможность насладиться вкусной и аутентичной японской кухней с Yare Yare Daze.</p>
            <p>Закажите у нас сегодня и наслаждайтесь вкусом Японии прямо у себя дома!</p>
        </div>
    </div>
    <p></p>
    <div class="container">
        <div class="text-align-center">
            <p>Есть вопрос или предложение?</p>
            <p>Напишите нам! </p>  
            <hr>
            <p>Предложения от поставщиков: connect.yareyare@example.ru</p>
            <p>Пожелания и вопросы по качеству: yareyare.que@example.ru</p>
            <p>Предложения по рекламе: yareyare.marketing@example.com</p>
            <p>Предложения по аренде: rentyare@example.ru</p>
            <p>Номер для связи: +7(800)5553555</p>  
        </div>
        <div class="text-align-center">
            
        </div>
    </div>

    <p class="text-align-center"></p>

    <p class="text-align-center"></p>
    {% endblock content %}
    


